body {
 font-family: 'Open Sans', serif;
}
.hero.is-success {
 background: #F2F6FA;
 color: #4a4a4a;
}
.hero-body {
 padding: 2rem 1.5rem;
}
.field {
 margin: .5rem;
}
.gpa {
 justify-content: center;
 margin: 1rem;
}